@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// variables
$fontLato: 'Lato', sans-serif;
$colorPrim:  #FD2D01;
$colorSec: #FFD7D7;
$colorTer: #4E5166;
$color: #EDF7F6;

// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: $fontLato;
    &::selection {
        background: $colorTer;
    }
    a:visited {
        color: white;
    }
}
